<div class="footer">
    <ul class="footerItems">
        <li class="footerItem rightFoot"><a href="/contact">Contact Us</a></li>
        <li class="footerItem"><a href="/about">About</a></li>
        <li class="footerItem"><a href="howto.html">How to use</a></li>
        <li class="footerNotes">Billsplit 2021. Some Rights Reserved.</li>
    </ul>
</div>