<nav>
    <ul>
    <a class="logos" href="/">
        <span>
        <li class="companyName">Billsplit</li>
        <li class="logo"></li>
        </span>
    </a>
    <li class="navItem attention"><a href="/calculator">Split a Receipt</a></li>
    <li class="navItem signIn" name="guestItem"><a href="/signIn">Sign In</a></li>
    
    <li class="hamburger" onclick="toggleNav()" onmouseover="openNav()" onmouseout="closeNav()">
        <i class="fa fa-bars"></i>
        <i class="fa fa-close" style="display:none"></i>
    </li>
    </ul>
</nav>
<div id="dropdown">
    <ul id="dropMenu" onclick="toggleNav()" onmouseover="openNav()" onmouseout="closeNav()">
        <li class="navItem attention"><a href="/calculator">Split a Receipt</a></li>
        <li class="navItem signIn" name="guestItem"><a href="/signIn">Sign In</a></li>
        <li class="navItem user" name="userItem"><a onclick="getHistory()" style="cursor: pointer;">My Receipts</a></li>
        <li class="navItem"><a href="/tutorial">How to Use</a></li>
        <li class="navItem"><a href="/about">About</a></li>
        <li class="navItem"><a href="/contact">Contact Us</a></li>
        <li class="navItem user" name="userItem" ><a href="/logOut">Log Out</a></li>
    </ul>
</div>
<form name="myhistory" method="post" action="/history" style="display:none">
    <input type="hidden" name="username" value="hello">
</form>