<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    
    <%- include('../partials/_header') %>
    <title>Billsplit - Calculator</title>
    <!-- LINKS TO EXTERNAL STYLESHEETS
            format: rel="/stylesheets/example.css" -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/calculator_style.css">
    
    <style></style>
    
</head>
    
<body>
    <div id="pageContainer">
        <!-- HEADER STUFF, CAN IGNORE -->
        <%- include('../partials/_nav') %>

        <!-- ALL PAGE CONTENT INSIDE HERE -->
        <div class="container" style ="margin-top: 2.5rem;">
            <div class="saveArea">
                <form name="save" method="POST" action="/save" onsubmit="return false" class="saveForm">
                    <label>Add a title to your receipt<i class="fa fa-close" onclick="closeSaveMenu()"></i></label>
                    <input type="text" name="title" placeholder="">
                    <label class="share" onclick="addSharedUser()">Share <i class="fa fa-plus-square"></i></label>
                    <div id="sharedUsers">

                    </div>
                    <div class="saveButton" onclick="submitSavedReceipt()">Save</div>
                    <div class="note">
                        Receipt changes are final when saved
                    </div>
                    <input name="receiptJSON" type="hidden" value="">
                </form>
            </div>
            <div class="subcontainer">
                <div class=namesInfo>
                    <div id="backButton" style="visibility: hidden;"><span class="material-icons md-24 back">arrow_circle_right</span></div>
                    <span class=namesHeader>
                        <div id="namesHRow" class="namesHRow">
                            <h2 id="welcome">Billsplit Receipt Calculator</h2>
                        </div>
                        <div id="initialsRow">
                            <h3 id="welcomeSub">
                                                Follow instructions on the input bar
                                                <br><br>
                                                <p>1. Enter all names, then hit finish</p>
                                                <br/>
                                                <p>2. Enter all items, then hit finish</p>
                                                <br/>
                                                <p>3. Select payer and settle up</p>
                                
                            </h3>
                        </div>
                    </span>
                </div>
            
                <div id="fullReceipt">
                    <div class="receiptHeader">
                        <li class="items">Item</li>
                        <li class="prices" style="list-style-type: none; padding-left:0.8rem">Price</li>
                        <li class="sharedBy" style="margin-left: 3em;">Shared By</li>
                    </div>
                </div>
                <div class="totalBar" style="display: none">Total:  $
                    <div id="totalVal">0</div>
                    <div id="tax">Tax:  6.25%</div>
                    <button id="minusTax" onmousedown="minusTax()">-</button>
                    <button id="plusTax" onmousedown="addTax()">+</button>
                </div>
                <div id="inputReg">
                    <span class="inReg">
                        <div id="inMessage" class="inputMsg">Enter a person</div>
                        <span id="typeBar">
                            <input type="text" id="inBar" size="50" placeholder="Use 'enter' key to submit" onkeydown="enterName(event)" oninput="updateSubmit()">
                            <button id="submitInput" onclick="getName()">
                                <span class="material-icons md-24">arrow_circle_right</span>
                            </button>
                        </span>
                    </span>
                    <span id="fButtonBox">
                        <button id="finishButton" class="fbutton" onclick="finishNames()" disabled>Finish</button>  
                    </span>
                </div>
                <span id="totalsRow">
                    
                </span>
                <span id="sButtonBox">
                    <button id="sButton" class="saveButton" onclick="saveReceipt()">Save Receipt</button>  
                </span>
                
                <div class="feedbackBar">
                    <a class="feedback" href="/faq">Need Help?</a>
                </div> 
            </div>
        </div>     
        
        <!-- FOOTER CAN IGNORE -->
        <%- include('../partials/_footer') %>
    </div>
    
</body> 
    <!-- get username information, sorry it's named guestUser
            gives access to set and delete username functions -->
    <%- include('../partials/_guestUser') %>

    <!-- LINKS TO EXTERNAL FUNCTION SCRIPTS
         format: src"/scripts/example.js" --> 
    <script src="/scripts/calculatorBackend.js"></script>
    <script src="/scripts/getTax.js"></script>
    
    <!-- Page Executable -->
    <script>
        var nameColors = ["#add45c","#6AD2FF","#F6E65E","#28E1D4",
                  "#ff5732","#d478FD","#7883fd","#FFAD37",
                  "#F31656"];
        var promptCount = 0;
        var names = [];
        
        var initials = [];
        var items = [];
        var prices = [];
        var sharedBy = [];
        var tax = getLocalTax();
        var totals = [];
        
        var finalTotals = [];
        var netTotal = 0;
        var payer = -1;
        
        var title = "";
        var usernames = [];

        document.getElementById("submitInput").disabled = true;
    </script>
       
    

</html>