<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include('../partials/_header') %>

    <title>Billsplit</title>
    <link rel="stylesheet" href="/stylesheets/Homepage.css">
    <style>
        /* Style for each page */
    </style>
    
</head>
    
<body>
    <a href="https://www.apple.com/newsroom/2023/06/developer-tools-to-create-spatial-experiences-for-apple-vision-pro-now-available/">New Article </a>
    <div id="pageContainer">
        <!-- HEADER STUFF, CAN IGNORE -->
        <%- include('../partials/_nav') %>
        
        <!-- ALL PAGE CONTENT HERE -->
        <div class="container" style ="margin-top: 2.5rem;">
            <div class="structure">
                <div class="introText">
                <h2 class="title">The <span id="emphasize"> Fastest </span> Way to Split a Reciept.</h2>
                <br/>
                <h3>Sharing made easy with Billsplit.</h3>
                <p>Efficient, sophisticated, and fair sharing.<br>
                The optimized receipt splitting experience <br> with Billsplit.</p>
                <span class="introLinks">
                <a class="button" href="/calculator">Get Started</a>
                <a class="normalLink" href="/about">Learn More</a>
                </span>
                </div>
                <div class="backgroundPicture">
                    <img class="fridge" src="fridge.png" alt="">
                    <div class="shadow"></div>
                </div>
            </div>
            <div id="proAd">
                <div class="proHead">
                    <div>Billsplit</div>
                    <div style="color:#2f64eb">Pro</div>
                    <div class="proNew">New</div>
                </div>
                <div class="proElse">
                <div class="proMsg">Groundbreaking Features Coming Soon</div>
                <a class="button pro" href="/pro">Find out more</a>
                </div>
            </div>
        </div>
    

        <!-- FOOTER CAN IGNORE -->
        <%- include('../partials/_footer') %>
    </div>
    
</body> 
     <!-- Function files -->
    <%- include ('../partials/_guestUser') %>
    
</html>
